.menu
    padding: 40px
    background: black
    .menu--title
        color: #fff
        display: inline
        text-align: center
        
        h1
            padding-bottom: 30px


    .menu--list
        background: #000
        list-style: none
        text-decoration: none
        
        li
            background: $primary-color
            width: 100%
            min-height: 6rem
            align-items: center
            margin-bottom: 10px
            padding: 20px

        .dish
            display: grid
            grid-template-columns: 200px 1.0fr 0.1fr auto 0.1fr 0.1fr 0.1fr 
            grid-template-rows: 2fr 
            grid-template-areas: "name ingredients price buttons add amount substract"
            font-size: 1.6rem
            .name
                grid-area: name
                padding-right: 1em
            .ingredients
                grid-area: ingredients
                justify-content: flex-start
                text-align: left
                font-size: 1.4rem

            .price
                grid-area: price
                padding: 0 1rem

            .button-wrapper
                grid-area: buttons
                

            .add
                grid-area: add
                height: 2rem
                font-size: 1.4rem

            .amount
                grid-area: amount
            .substract
                grid-area: substract
                height: 2rem
                font-size: 1.4rem



    img
        width: 60%
        display: flex
        justify-content: center
        margin: auto
            