/* IMPORTING ALL STYLES */
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* From 0-base.sass */
/* VARIABLES */
/* SCROLL */
/* width */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: black; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FACE5E; }

/* Main tags */
body {
  font-family: Montserrat;
  background-color: #f7f7f7; }

section {
  padding: 40px;
  width: 100%; }

h1 {
  font-size: 48px;
  text-align: center; }

h2 {
  font-size: 36px; }

a {
  text-decoration: none;
  color: black; }

.bold {
  font-weight: bold; }

.light {
  font-weight: 200; }

.thin {
  font-weight: 100; }

.padding-to-bottom {
  padding-bottom: 30px; }

#gmap_canvas img {
  width: 100% !important;
  background: none !important; }

.whiteFont {
  color: white; }

.fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 0px 58px -25px rgba(0, 0, 0, 0.8);
  transition: 0.5s; }

.flex {
  display: flex;
  justify-content: space-between; }

.hidden {
  display: none; }

.grid {
  display: grid; }

/* Nav menu */
.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  top: -21px;
  padding: 30px;
  transition: all 0.3s;
  transform: translateY(100px);
  will-change: transform;
  display: none;
  right: 0; }

.dropdownBackground {
  width: 750px;
  min-height: 150px;
  position: absolute;
  background: #fff;
  transform-origin: 50% 0%;
  justify-content: center;
  opacity: 0;
  flex-direction: column;
  cursor: default; }
  .dropdownBackground li {
    padding-bottom: 20px;
    list-style: none;
    cursor: default;
    grid-template-columns: 50% 30% 10% 10%;
    grid-template-areas: "name price order--amount delete";
    align-items: center;
    font-size: 1.4rem; }
    .dropdownBackground li .name {
      grid-area: name; }
    .dropdownBackground li .price {
      grid-area: price;
      padding: 0 5px;
      display: flex;
      justify-content: flex-end; }
    .dropdownBackground li .order--amount {
      grid-area: order--amount;
      padding: 0 5px;
      text-align: center;
      display: flex;
      justify-content: flex-end; }
    .dropdownBackground li .delete {
      grid-area: delete;
      border: none;
      background: rgba(255, 0, 0, 0.8);
      opacity: 0.7;
      border-radius: 50%;
      font-size: 1rem;
      width: 40px;
      height: 40px;
      cursor: pointer;
      margin-left: auto;
      margin-right: 0; }
    .dropdownBackground li .delete:hover {
      background: red; }

@media screen and (max-width: 1150px) {
  .dropdown {
    top: -15px; }

  .dropdownBackground {
    width: 100%;
    padding: 2rem; }
    .dropdownBackground li {
      padding-bottom: 2rem;
      font-size: 1.8rem; }
      .dropdownBackground li .price {
        display: flex;
        justify-content: flex-end; }
      .dropdownBackground li .order--amount {
        margin-left: auto;
        margin-right: 0; }
      .dropdownBackground li .delete {
        display: flex;
        justify-content: center;
        width: 60px;
        height: 60px; } }
.priceContainer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center; }
  .priceContainer .priceItem {
    display: flex;
    font-size: 1.8rem; }
  .priceContainer .orderButton {
    display: flex;
    height: 50px;
    width: 120px;
    border: none;
    font-size: 1.4rem;
    justify-content: center;
    cursor: pointer; }

@media screen and (max-width: 1150px) {
  .priceItem {
    font-size: 2rem; } }
.open {
  opacity: 1; }

.disabled {
  background: #f1f1f1;
  color: white; }

.primary-background {
  background: #FACE5E; }

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  color: #000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px; }

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  width: 100%;
  margin-top: 40px;
  justify-content: center;
  align-content: center;
  z-index: 9999;
  top: 100px;
  bottom: 100px; }

/* Add styles to the form container */
.form-container {
  width: 60%;
  padding: 40px;
  background-color: white;
  overflow-y: auto; }

@media screen and (max-width: 1150px) {
  .form-container {
    width: 100%;
    height: auto;
    background-color: white;
    overflow-y: auto; }

  .form-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding: 2rem;
    justify-content: center;
    align-content: center;
    z-index: 9999;
    top: 100px; }

  form, .btn {
    font-size: 2rem;
    font-family: Montserrat;
    padding: 0.6rem; }

  input {
    font-size: 1.8rem;
    font-family: Montserrat; } }
/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 8px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1; }

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none; }

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #FACE5E;
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  font-family: Montserrat;
  font-size: 2rem; }

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red; }

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1; }

.form-grid {
  background: #f1f1f1;
  display: grid;
  margin-bottom: 2rem;
  padding: 0.8rem;
  list-style: none;
  cursor: default;
  grid-template-columns: 50% 30% 20%;
  grid-template-areas: "name amount price";
  align-items: center;
  font-size: 1.4rem;
  align-content: center; }
  .form-grid .name {
    grid-area: name; }
  .form-grid .price {
    grid-area: price;
    padding: 0 5px;
    display: flex;
    justify-content: flex-end; }
  .form-grid .orderedAmount {
    grid-area: amount;
    padding: 0 5px;
    text-align: center;
    display: flex;
    justify-content: flex-end; }

/* HEADER */
nav {
  width: 100%;
  height: 100px;
  background: white; }
  nav .wrapper {
    width: 100%;
    height: 100px;
    padding: 6px 30px;
    background: white;
    transition: 1s; }
    nav .wrapper .logo {
      display: flex;
      padding-top: 16px;
      width: 140px;
      align-content: center;
      justify-content: center;
      z-index: 9999; }
    nav .wrapper .menu__full {
      padding-top: 16px;
      display: inline-flex;
      list-style: none;
      text-decoration: none;
      align-items: center;
      font-size: 1.5rem; }
      nav .wrapper .menu__full > li {
        padding-right: 35px;
        font-weight: 300;
        color: #000; }
      nav .wrapper .menu__full .delivery {
        margin-left: 10px;
        border-radius: 20px;
        cursor: pointer;
        padding: 6px; }
      nav .wrapper .menu__full a:hover {
        color: #ff7f2a;
        transition: 0.05s ease; }
    @media screen and (max-width: 1150px) {
      nav .wrapper .menu__full {
        font-size: 2rem; } }

/* Hero */
.hero .parallax, .contact .parallax {
  min-height: 400px;
  object-fit: contain;
  width: auto;
  padding-top: calc(300px/2); }
.hero .hero--belt, .contact .hero--belt {
  min-height: 230px;
  width: 100%;
  margin-top: -15px;
  padding: 60px;
  display: inline-flex;
  justify-content: space-around;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center; }
  .hero .hero--belt p, .contact .hero--belt p {
    margin: auto;
    padding: 10px;
    display: block;
    justify-content: space-around;
    font-size: 24px;
    text-align: center; }
@media screen and (max-width: 1150px) {
  .hero .hero--belt, .contact .hero--belt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .hero .hero--belt .column, .contact .hero--belt .column {
      margin: auto; }
      .hero .hero--belt .column p, .contact .hero--belt .column p {
        display: inline-flex; } }

/* Break */
.break {
  padding: 120px 0;
  min-height: 400px;
  width: 100%;
  background: white;
  align-items: center; }
  .break img {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .break h1, .break h2 {
    text-align: center;
    margin: 20px; }

/* Services */
.services .row {
  width: 100%;
  padding: 40px;
  min-height: 480px;
  background: white;
  display: inline-flex;
  justify-content: space-around;
  margin: auto; }
  .services .row .stage img {
    width: 380px;
    height: auto; }
  .services .row .stage h2 {
    width: 380px;
    text-align: center;
    padding-top: 30px;
    line-height: 36px; }
@media screen and (max-width: 1150px) {
  .services .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; }
    .services .row .stage {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .services .row .stage img {
        width: 720px;
        height: auto; }
      .services .row .stage h2 {
        text-align: center;
        width: 80%;
        padding: 30px; } }

.menu {
  padding: 40px;
  background: black; }
  .menu .menu--title {
    color: #fff;
    display: inline;
    text-align: center; }
    .menu .menu--title h1 {
      padding-bottom: 30px; }
  .menu .menu--list {
    background: #000;
    list-style: none;
    text-decoration: none; }
    .menu .menu--list li {
      background: #FACE5E;
      width: 100%;
      min-height: 6rem;
      align-items: center;
      margin-bottom: 10px;
      padding: 20px; }
    .menu .menu--list .dish {
      display: grid;
      grid-template-columns: 200px 1fr 0.1fr auto 0.1fr 0.1fr 0.1fr;
      grid-template-rows: 2fr;
      grid-template-areas: "name ingredients price buttons add amount substract";
      font-size: 1.6rem; }
      .menu .menu--list .dish .name {
        grid-area: name;
        padding-right: 1em; }
      .menu .menu--list .dish .ingredients {
        grid-area: ingredients;
        justify-content: flex-start;
        text-align: left;
        font-size: 1.4rem; }
      .menu .menu--list .dish .price {
        grid-area: price;
        padding: 0 1rem; }
      .menu .menu--list .dish .button-wrapper {
        grid-area: buttons; }
      .menu .menu--list .dish .add {
        grid-area: add;
        height: 2rem;
        font-size: 1.4rem; }
      .menu .menu--list .dish .amount {
        grid-area: amount; }
      .menu .menu--list .dish .substract {
        grid-area: substract;
        height: 2rem;
        font-size: 1.4rem; }
  .menu img {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto; }

/*Menu */
/* Contact */
.contact {
  padding: 40px; }

/* Review */
footer {
  height: 170px;
  background: #05090A;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto; }
  footer ul {
    text-decoration: none;
    list-style: none; }
    footer ul li {
      color: #fff;
      font-size: 20px;
      padding-bottom: 4px; }
  footer .inline {
    display: inline-flex; }
    footer .inline li {
      padding: 10px;
      font-size: 24px; }
    footer .inline a {
      color: #fff; }
    footer .inline a:hover {
      color: #ff7f2a;
      cursor: pointer;
      transition: 0.4s; }

/*# sourceMappingURL=style.css.map */
