<!DOCTYPE HTML>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Pizza.com the best pizza in your city!</title>
  <meta name="Codity.org">
  <link rel="stylesheet" href="../src/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400" rel="stylesheet">
  <script src="../src/js/main/parallax.js"></script>
</head>

<body>
  <nav>
    <div class="wrapper nav__flex">
      <!-- <div class= "nav__hamburger"><img class="" src="../src/img/menu.svg"></img></div> -->
      <img class="logo" src="../src/img/logo.svg"></img>
      <ul class = "menu__full">
        <li><a href="#services">About us</a></li>
        <li><a href="#offert">Offert</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class = "delivery">
          <a class = "list-init">Delivery</a>
          <ul class="list dropdown dropdownBackground">
            <li>
              <div class="name bold">Margarita</div>
              <div class="price">25.66$</div>
              <span class="order--amount" id = "">0</span>
              <button class="delete">X</button>
            </li>
            <li>It looks like your bag is empty!</li>
            
          </ul>
        </li>
      </ul>


    </div>
  </nav>
  <section class="hero" id ="hero">
    <div class="parallax" style="background: url('../src/img/pizza1.jpg');">
      <h1 class="bold">A little piece of pizza</h1>
      <h1 class="light">can make you happy</h1>
    </div>

    <div class="hero--belt">
      <div class="column">
        <p class="bold">phone</p>
        <p class="light">123 456 789</p>
      </div>
      <div class="column">
        <p class="bold">address</p>
        <p class="light">92 NEW ALLAY, KS</p>
      </div>
      <div class="column">
        <p class="bold">email</p>
        <p class="light">pizza@pizza.com</p>
      </div>
      <div class="column">
        <p class="bold">delivery time</p>
        <p class="light">~ 25 minutes</p>
      </div>
    </div>
  </section>
  <section class="break" id="services">
    <img src="../src/img/pizza.svg" alt="">
    <h1 class="bold">WARM AND COZZY PIZZERIA <br>IN YOUR CITY</h1>
    <h2 class="thin">We are making a lot of efforts to make delicious happy pizza</h2>
  </section>
  <section class="services">
    <div class="row">
      <div class="stage">
        <img src="../src/img/dough.jpg" alt="">
        <h2 class="light">
          Handmake dough makes
          our pizza delicious</h2>
      </div>
      <div class="stage">
        <img src="../src/img/oven.jpg" alt="">
        <h2 class="light">Baked in super
          duper wooden oven.</h2>
      </div>
      <div class="stage">
        <img src="../src/img/dish.jpg" alt="">
        <h2 class="light">And there it is
          your delicious surprise!</h2>
      </div>

    </div>
  </section>
  <section class="projects">
    <div class="img--container">
      <img src="../src/img/pizza2.jpg" alt="">
      <div class="text-container">
        <h1 class="whiteFont">SHARE WITH YOUR FRIENDS!</h1>
        <h1 class="alternate">stay warm all the time!</h1>
      </div>
    </div>
    <div class="services--belt">
      <h1 class="bold">Hungry?</h1>
      <a class="light" href="#contact">Find us!</a>
    </div>
  </section>
  <section class="break" id="offert">
    <img src="../src/img/pizza.svg" alt="">
    <h1 class="bold">DELICIOUS PIZZAS <br>ARE WAITING FOR <br>YOUR DECISION</h1>
    <h2 class="thin">Make our happy big pizzas more happy.</h2>
  </section>

<!-- Menu Ofert  -->

  <section class="menu">
    <div class="menu--title">
      <h1 class="thin">Choose & Order</h1>
      <ul class="menu--list">
        
      </ul>
      <img src="../src/img/chalk-food.svg" alt="">
    </div>
  </section>
  <section class="break" id="contact">
    <h1 class="bold">CONTACT US</h1>
    <h2 class="thin">We are always here for you!</h2>
  </section>
  <section class="contact">
    <div class="hero--belt">
      <div class="column">
        <p class="bold">phone</p>
        <p class="light">123 456 789</p>
      </div>
      <div class="column">
        <p class="bold">address</p>
        <p class="light">92 NEW ALLAY, KS</p>
      </div>
      <div class="column">
        <p class="bold">open</p>
        <p class="light">9AM - 9PM</p>
      </div>
      <div class="column">
        <p class="bold">delivery time</p>
        <p class="light">~ 25 minutes</p>
      </div>
    </div>
    <div style="width: 100%;position: relative;"><iframe width="100%" height="400"
        src="https://maps.google.com/maps?width=1400&amp;height=400&amp;hl=en&amp;q=79%20Buckingham%20Palace%20Rd%2C%20+(Tytu%C5%82)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      <div
        style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
        <small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a
            href="http://www.googlemapsgenerator.com/da/">googlemapsgenerator.com/da/</a> & <a
            href="https://vaticaanstadtickets.nl/hoe-reis-je-van-het-vliegveld-naar-vaticaanstad/">www.vaticaanstadtickets.nl/hoe-reis-je-van-het-vliegveld-naar-vaticaanstad/</a></small>
      </div>
    </div><br />


  </section>
  <footer>
    <ul class = "address">
      <li>Pizza.com</li>
      <li>92 NEW ALLAY 92 KS</li>
      <li>123 456 789</li>
    </ul>
    <ul class="inline">
      <li><a href="#hero">Home</a></li>
      <li><a href="#services">About us</a></li>
      <li><a href="#offert">Offert</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>

  </footer>

  <script src="../src/js/main/sticky.js"></script>
  <script src="../src/js/main/order.js"></script>
  <script src="../src/js/main/delivery.js"></script>
</body>

</html>